.first-img{
    margin: 3% 0;
    height: 310px;
    border: red solid 1px;
    width: 100%;
}


.red-box{
    margin: 4% 0;
    border: red solid 1px;
    text-align: center;
}

.header-red-box{
    background-color: red;
    
}

.red-box > ul {
    text-align: left;
}

.img-first{
    width: 100%;
    height: 300px;
}