.container-fluid{
    padding: 0;
    width: 100%;
}

.btn-warning{
    border-radius: 200px;
    padding: 3%;
    float: left;;
    position: sticky;
    z-index: 3;
    bottom: 5px;
    left: 5px;
}